<h2>"El balance de tu cuenta es:"</h2>

<form class="form" id="menu" method='get' action='/' style="text-align:center">
    <b>Monto: </b>
    <input style="text-align:center" size ="20" id="jugador1" type="text" name="monto" maxlength="20" >
</form>